<table id="meals">
<tr>
<th>Day</th>
<th>Meal</th>
<th>Dish</th>
</tr>
<tr>
<% if current_user.owns_meal?(@meal) %>
    <td><%= link_to @meal.day_name, edit_meal_path(@meal.id) %></td> 
    <td><%= link_to @meal.meal_time, edit_meal_path(@meal.id) %></td>
    <% else %>
    <td><%= @meal.day_name %></td> 
    <td><%= @meal.meal_time %></td>
<% end %>

    <%= add_edit_dish(@meal) %>

</tr>
</table>
