<h1>Add a dish for <%= @meal.day_name %>, <%= @meal.meal_time %></h1>


<%= form_for ([@meal, @dish]) do |f| %>


    Select from existing dishes:
    <%= f.collection_select :dish_name, Dish.all, :dish_name, :dish_name, include_blank: true %><br>
    Or <br>
    Create new dish 
    <%= f.label :dish_name %>: 
    <%= f.text_field :dish_name, placeholder:"Omlettes"%><br>
     <%= f.submit %>



<% end %>


